In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('my_database1.db')

In [3]:
db.execute('drop table if exists grades1')

In [4]:
db.execute('create table grades1(id int,name text,score int)')

In [7]:
db.execute("insert into grades1(id , name, score) values(12,'Neeraj',1234)")

In [8]:
db.execute("insert into grades1(id,name,score) values(13,'Sara',1435)")

In [9]:
db.commit()

In [11]:
result=db.execute('select * from grades1 order by id')
for row in result:
    print(row)

(12, 'Neeraj', 1234)
(13, 'Sara', 1435)

In [14]:
result2=db.execute('select * from grades1 order by name')
for row in result2:
    print(row)

(12, 'Neeraj', 1234)
(13, 'Sara', 1435)

In [15]:
result4=db.execute('select * from grades1 where score <1350')
for row in result4:
    print(row)

(12, 'Neeraj', 1234)

In [16]:
result5=db.execute('select name,score from grades1 order by score desc')
for i in result5:
    print(i)

('Sara', 1435)
('Neeraj', 1234)