In [1]:
marks=45
if marks>55:
    print ('Average')
else:
    print ('Low')

Low

In [2]:
g=12
h=2
if g%h==0:
    print('The number is even')
else:
    print('The number is not odd')

The number is even

In [4]:
t=int(input('Enter the value'))
if t%2==0:
    print('Even')
else:
    print('not even')

Enter the value57
not even

In [1]:
y=int(input('Enter the value'))
if y%2==0:
    print('The no. is even')
else:
    print('The no. is odd')

Enter the value34
The no. is even

In [2]:
q=[12,23,12,34,45,56]
len(q)

6

In [3]:
q.insert(3,67)

In [4]:
q

[12, 23, 12, 67, 34, 45, 56]

In [6]:
q[2]

12

In [7]:
T

NameError: name 'T' is not defined

In [8]:
u=[12,23,34,45,56,67]
for n in u:
    mul=n*8
    print(mul)

96
184
272
360
448
536

In [13]:
je=['Hat','Tpy','Rat']
for i in range(len(je)):
    print('I Like',je[i])

I Like Hat
I Like Tpy
I Like Rat

In [17]:
#break statement
for i in 'Positivity':
    if i=='t':
        break
print(i)

t

In [7]:
for i in 'stringexample':
    if i=='n':
        continue
    else:
        if i=='x':
            break
    print(i)

s
t
r
i
g
e