In [1]:
import numpy as np

In [2]:
j=np.array([12,13,12,34,45,56])

In [3]:
u=np.mean(j)

In [4]:
round(u)

29

In [5]:
np.median(j)

23.5

In [14]:
np.percentile(j,75)

42.25

In [6]:
import pandas as pd

In [7]:
k=[12,23,12,34,45,56]
f=pd.DataFrame(data=k)
f

    0
0  12
1  23
2  12
3  34
4  45
5  56

In [8]:
f.mean()

0    30.333333
dtype: float64

In [9]:
f.median()

0    28.5
dtype: float64

In [10]:
f.var()

0    322.666667
dtype: float64

In [11]:
f.std()

0    17.962925
dtype: float64

In [12]:
round(f.std(),2)

0    17.96
dtype: float64

In [16]:
f.mode()

    0
0  12

In [17]:
d=pd.read_csv('president_height.csv')

In [22]:
d.mean()

order      22.476190
height    179.738095
dtype: float64

In [25]:
e=d['height']

In [27]:
e.mean()

179.73809523809524

In [28]:
e.median()

182.0

In [29]:
np.percentile(e,75)

183.0

In [30]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.histplot()